.header__inner {
    width: 100%;
    margin: 0 auto;
    padding: 1px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}

.header__text h2 {
    color: #a5a298;
    font-family: "Segoe UI Variable Display", "Segoe UI", sans-serif;
    font-weight: 700;
}

.header__nav ul li a {
    font-size: 13px;
    color: #dcccbd;
    text-decoration: none;
    padding: 3px 13px;
    border: 2px solid #dcccbd;
    background-color: #f6f6f6;
}

.logout__button {
    font-size: 13px;
    color: #dcccbd;
    text-decoration: none;
    padding: 3px 13px;
    border: 2px solid #dcccbd;
    background-color: #f6f6f6;
    cursor: pointer;
}