.modal__content{
    top: 43%;
    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    border: 1px solid #a89b8e;
    background: #ffffff;
    width: 35%;
    height: 75vh;
    z-index: 1;
}

#close__button{
    position: absolute;
    width: 4%;
    top: 3%;
    right: 5%;
    padding: 5px;
    border-radius: 50%;
    background: white;
    border: 1px solid #a89b8e;
    cursor: pointer;
}

.text__content{
    position: absolute;
    width: 100%;
    top: 15%;
    margin: 0 auto;
    text-align: center;
}

.text__item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0px auto;
    height: 45px;

}

.text__item label{
    display: inline-block;
    width: 200px;
    text-align: left;
    color: #8b7969;
    font-weight: bold;
}

.text__item p{
    text-align: left;
    width: 60%;
    color: #8b7969;

}

.delete__button{
    width: 10%;
    margin: 95px auto;
}

.delete__button--submit{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 2px;
    color: white;
    background:#ba370d;
    cursor: pointer;
}