.thanks__content {

    position: relative;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    color: #83776d;
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.thanks__overlay {
    position: absolute;
    font-size: 8rem;
    color: rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.home__button{
    width: 8%;
    margin: 0px auto;
    margin-bottom: 0px;
}

.home__button a{
    width: 100%;
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #82766a;
    cursor: pointer;
}